header {
    padding: 15px;
    font-size: 18pt;
}

body {
    text-align: center;
    background-color: whitesmoke;
}

table, th, tr, td {
    border: .5px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}