.nav {
    background-image: -webkit-gradient( linear,
    left bottom,
    left top,
    color-stop(0, rgb(45, 60, 60)),
    color-stop(1, rgb(200, 200, 200)));
    position: sticky;
    top: 0px;
    margin-top: -12px;
    border: 1px solid;
    border-color: black;
}

ul {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    font-size: 20pt;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: red;
}

footer {
    padding: 15px;
    color: white;
    background-color: rgb(128, 0, 0);
    text-align: center;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt
}

h2 {
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20pt;
}


body {
    background-color: aliceblue;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

section {
    display: flex;
}

section img {
    width: 100%;
}

.left {
    flex: 1;
    margin: auto;
}

.right {
    margin: auto;
    flex: 1;
}
