header {
    padding: 15px;
    font-size: 18pt;
}
div {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 30%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    text-align: center;
    background-color: whitesmoke;
}

section {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 50px;
    padding: 5px;
}

button a{
    text-decoration: none;
}

.softRed {
    color: white;
    border-radius: 3px;
    border: 1px solid black;
    background-image: -webkit-gradient(linear,
                left bottom,
                left top,
                color-stop(0, rgb(150, 51, 51)),
                color-stop(1, rgb(200, 15, 20)));
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}